h1 {
    background-color: aqua;
}
h2 {
    background-color: red;
}
h3 {
    background-color: blue;
}
h4 {
    background-color: yellow;
}
h5 {
    background-color: green;
}
h6 {
    background-color: orange;
}
button{
    color: blue;
    background-color: black;
    border-radius: 50%;
}
body{
    background-color: burlywood;
}